<h1>About the app</h1>
<h3 class="bg-info text-danger">The new router I added is a pantry management system for food, where you can store the incredients
  you have. When you click the cook botton, you will receive a recipe for that button</h3